.cell{
    height: 90px;
    width: 115px;
    border: 0.4px solid;
    text-align: center;
    font-size: 48px;
    line-height: 80px;
    box-shadow: 0px 0px 0px 1.5px rgb(63, 63, 63);
    cursor: pointer;
    z-index: 1;
}

.container{
    width: 347px;
    /* border: solid 1px; */
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    box-shadow: 4px 2px 6px 0.3px rgb(135, 131, 131);
    z-index: 5;
}

.gamebox{
    text-align: center;
    font-family: "Permanent Marker", cursive;
}

#btn {
    margin-top: 14px;
    margin-bottom: 10px;
    /* margin-left: 50px; */
    width: 90px;
    height: 30px;
    font-size: 17px;

};